<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6e8CcnON3Oc8dkn-AxtbYjhDyiYuyFXY</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.todolist</string>
	<key>GCM_SENDER_ID</key>
	<string>550849312546</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:550849312546:ios:ac2743857a10ec405e177b</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>taskmasterapp-e8a65</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmasterapp-e8a65.appspot.com</string>
</dict>
</plist>
